/* styles/globals.css */
@config "../tailwind.config.js";

@import "tailwindcss";


/* Base layer: vars, resets, and global @apply rules */
@layer base {
  /* CSS variables for theming */
  :root {
    --background: #000000;
    --foreground: #101010;
    --main:       #FED48A;
    --secondary:  #282114;
    --smoke:      #E6E6E6;
    --dim_smoke:  #B3B3B3;
    --gray:       #333333;
    --white:      #ffffff;


  }
  body {
    background-color: #000000;       /* every element that inherits color will now be smoke */
  }

  /* Normalize box-model & font smoothing */
  *, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Monument Extended Local Font Files */
  @font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 300;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-Light-BF645465a264007.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-Regular-BF645465a253250.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 900;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-Black-BF645465a1e687b.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Monument Extended';
    font-style: italic;
    font-weight: 300;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-LightItalic-BF645465a25b74d.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Monument Extended';
    font-style: italic;
    font-weight: 400;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-RegularItalic-BF645465a2449f3.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Monument Extended';
    font-style: italic;
    font-weight: 900;
    src: url('../monument-extended-v3-0-font-family-1749610185-0/PPMonumentExtended-BlackItalic-BF645465a213d75.otf') format('opentype');
  }
  
  /* apply to any element with .scrollbar-custom */
  .scrollbar-custom {
    padding-right: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 3px;
    height: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* grid */
  .bg-grid {
    background-color: #000;
    background-image:
      linear-gradient(#2e2618 1px, transparent 1px),
      linear-gradient(90deg, #2e2618 1px, transparent 1px);
    background-size: 50px 50px;
  }
  /* keyframes */
  @keyframes move-right {
    from { transform: translateX(0) }
    to   { transform: translateX(calc(100vw + 24px)) }
  }
  @keyframes move-left {
    from { transform: translateX(0) }
    to   { transform: translateX(calc(-100vw - 24px)) }
  }
  @keyframes moveUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  .ray-right { animation: move-right var(--speed) linear var(--delay) infinite; }
  .ray-left  { animation: move-left  var(--speed) linear var(--delay) infinite; }

  h2 {
    font-size: 1.5rem; /* Adjust the size as needed, 'rem' is relative to the root element's font size */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin: 0px;
    text-align: center;
  }
  h1 {
    font-size: 2rem; /* Adjust the size as needed, 'rem' is relative to the root element's font size */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin: 0px;
  }

}